@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Koulen&display=swap');
* {
    margin: 0;
    padding: 0;
}


/* body {
    background: linear-gradient(to bottom, rgb(255, 108, 54), white);
} */


/* Imagen y titulo  */

header {
    width: 100%;
    height: 150px;
    background-color: transparent;
}

.logo {
    margin-left: 200px;
    background-image: url(../img/fanta.png);
    width: 200px;
    height: 150px;
    background-size: cover;
    float: left;
}

.titulo {
    text-shadow: 5px 5px 10px black;
    color: orangered;
    padding: 10px;
    margin-top: 50px;
    float: left;
    background-color: transparent;
    width: 700px;
    font-style: italic;
    font-size: 60px;
    font-family: 'Comic Neue', cursive;
}


/* Navegación */

ul li a {
    text-decoration: none;
    color: white;
}

ul {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}

ul li {
    border-radius: 10px;
    margin: 0px 10px;
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 5px 5px;
}


/* SECTION 1 : Imagen y texto rodeandola */

.image {
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 200px;
    width: 1000px;
    height: auto;
    background-color: transparent;
}

span {
    color: orangered;
    font-weight: bold;
}


/* Imagen */

section img {
    box-shadow: 25px 25px 25px black;
    margin-right: 40px;
    margin-bottom: 30px;
    float: left;
    background-size: cover;
    width: 600px;
    height: 250px;
}


/* texto rodeandola */

.first_title {
    float: left;
    background-color: transparent;
    width: 300px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}


/* Seccion 2: pregunta y texto */

.second {
    margin-top: 50px;
    margin-left: 200px;
    background-color: transparent;
    width: 1000px;
    height: 300px;
}

.second_title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    width: auto;
    float: left;
}

.second_text {
    font-size: 20px;
    background-color: transparent;
    width: 1000px;
    float: left;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.details {
    float: left;
    margin-top: 50px;
    font-size: 20px;
    width: 1000px;
    height: auto;
    background-color: red;
}

.desplegble {
    text-align: left;
    background-color: transparent;
    display: block;
}


/* RESPONSIVEEEEEEEEE */

@media only screen and (max-width: 500px) {
    header {
        margin-top: 50px;
        margin-left: 250px;
    }
    nav {
        width: 800px;
        margin-left: 200px;
    }
    figure {
        width: 800px;
    }
    .first_title {
        width: 300px;
    }
    .second_title {
        width: 800px;
        margin-bottom: 20px;
    }
    .second_text {
        width: 800px;
    }
    .details {
        width: 800px;
    }
}

@media only screen and (max-width: 1000px) {
    header {
        margin-top: 50px;
        margin-left: 250px;
    }
    nav {
        width: 800px;
        margin-left: 200px;
        display: inline-block;
    }
    figure {
        width: 800px;
    }
    .first_title {
        width: 300px;
    }
    .second_title {
        width: 800px;
        margin-bottom: 20px;
    }
    .second_text {
        width: 800px;
    }
    .details {
        width: 800px;
    }
}

@media only screen and (max-width: 1300px) {
    header {
        margin-top: 50px;
        margin-left: 250px;
    }
    nav {
        width: 800px;
        margin-left: 200px;
        display: inline-block;
    }
    figure {
        width: 800px;
    }
    .first_title {
        width: 300px;
    }
    .second_title {
        width: 800px;
        margin-bottom: 20px;
    }
    .second_text {
        width: 800px;
    }
    .details {
        width: 800px;
    }
}